* {
        padding: 0;
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        box-sizing: border-box;
        letter-spacing: 2px;
        background-color: #cecfc7;
    }
    .hero {
        height: 100vh;
        width: 100%;
        background: #cecfc7;
        font-family:Arial, Helvetica, sans-serif;
        box-shadow: 0 0 20px #0a0908;   
    }
    .section1{
        box-shadow: 0 0 20px #0a0908;

    }
    span {
        color: #0a0908;
        padding: 20px 0;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 8%;
        background-color: #eff8e2;
        box-shadow: 0 0 20px #0a0908;
    }
    .navbar .bar{
        text-decoration: none;
        background: transparent;
    }
    .logo {
        font-size: 39px;
        letter-spacing: 1px;
        cursor: pointer;
        padding: 20px 0;
        background: linear-gradient(to right, #23022e, #573280);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar ul li{
        list-style-type: none;
        display: inline-block;
        text-decoration: none;
        padding: 20px;
        background-color: transparent;
    }

    .navbar ul li a{
        text-decoration: none;
        color: #22333b;
        font-size: 22px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        text-transform: capitalize;
        background-color: transparent;
    }
    .navbar ul li a:hover::after, .navbar ul li a:hover{
        color: #ada8b6;
        transition: 0.4s;
        border-top: none ;
        border-left: none;
        border-right:none;
        border-bottom: 1px solid #000;
        border-width: 30%;
    }
    .btn {
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        color:#23022e;
        background: #ada8b6;
        border-radius: 10px;
        padding: 10px 25px;
        font-weight: bold;
        transition: .4s transform;
    }

    .btn:hover{
        color:#573280;
        transform: scale(100.2);
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2% ;
    }
    .content h1{
        font-family: 'Times New Roman', Times, serif !important;
    }
    .content h1, .content h1 span {
        margin: 20px 0px 20px;
        font-size: 75px;
        background: linear-gradient(to right, #23022e, #573280);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Brush Script MT;
    }
    p {
        color: #0a0908;
        font-size: 18px;
        margin-bottom: 50px;
    }
    h4 {
        color:#191919;
        letter-spacing: 2px;
        font-size: 20px;
    }
    .newsletter form{
        width: 380px;
        max-width: 300px;
        position: relative;
    }
    .newsletter form input:first-child{
        display: inline-block;
        width: 300px;
        padding: 14px 130px 14px 15px;
        border: 2px solid #573280;
        outline: none;
        color:#000;
        border-radius: 30px;
    }
    .newsletter form input:last-child{
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color:#eff8e2;
        color: #023047;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #023047;
        top: 6px;
        right: 6px;
    }
    .newsletter form input:last-child:hover{
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #ada8b6;
        color: #023047;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #023047;
        top: 6px;
        right: 6px;
    }
    /* about */

    .about{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #eff8e2 !important;
        height: 100vh;
    }
    .about img {
        height: auto;
        width: 530px;
        background-color: #eff8e2;
    }
    .main {
        border-radius: 40px;
    }
    .about-text{
        width: 800px;
        text-align: center;
        border-radius: 50%;
        padding: 20px 30px;
    }
    .about-text h2{
        color: #23022e;
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .about-text h5{
        color: #23022e;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }

    .about-text p{
        letter-spacing: 2px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
        color: #573280;
        text-align: start;
    }

    button{
        color: #23022e;
        letter-spacing: 1px;
        background-color: #eff8e2;
        font-size: 30px;
        padding: 10px;
        font-weight: bold;
        border-radius: 20px;
        border: 2px solid transparent;
        text-decoration: none;
        transition: .2s;
    }

    button:hover, .service .box .card .pra .button:hover {
        background-color: transparent;
        cursor: pointer;
        background-color: #23022e;
        color: #573280
    }
    /* service */
    .service {
        width: 100%;
        padding: 100px 0px;
    }

    .title h2{
        color: #23022e;
        font-size: 75px;
        width:1130px;
        margin: 30px auto;
        text-align: center;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        background-color: transparent !important;
    }

    .card{
        height: 365px;
        width: 335px;
        padding: 20px;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
        background-color: #23022e;
    }

    .card i{
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color:#ffb703;
        background-color: transparent;
    }

    h5 {
        color:aqua;
        font-size: 23px;
        margin-bottom: 15px;
        background-color: transparent;
    }
    .card .pra{
        background-color: transparent;
    }
    .pra p{
        color:#baba06;
        font-size: 16px;
        line-height: 17px;
        margin-bottom: 25px;
        background-color: transparent;
    }
    .card .button{
        letter-spacing: 1px;
        color: #23022e;
        background-color: #eff8e2;
        font-size: 20px;
        padding: 0 5px;
        border-radius: 20px;
        border: 2px solid transparent;
        text-decoration: none;
        transition: .4s;
    }

    .card .button:hover{
        background-color: transparent;
        border: 2px solid #573280;
        cursor: pointer;
    }
/* Contact Me */
.section3{
    padding:0;
    margin: 0;
}
    .contact-me{
        width: 100%;
        height: 290px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #023047;
        flex-direction: column;
    }
    .contact-me p{
        color: #ada8b6;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 25px;
        background-color: #023047;
    }
    .contact-me .btn2{
        color:#23022e;
        letter-spacing: 1px;
        background-color:#eff8e2;
        font-size: 30px;
        padding: 10px;
        font-weight: bold;
        border-radius: 22px;
        border: 2px solid transparent;
        text-decoration: none;
        transition: .4s;
    }
    .contact-me .btn2:hover{
        background-color: transparent;
        border: 2px solid #23022e;
        cursor: pointer;
    }
    /* section 4 */
    .section4 .first{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .section4 .first .box{
        background: red !important;
        background-size: cover;
    }
    /*
    footer{
        position: relative;
        width: 100%;
        height: 400px;
        background: #101010;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer p:nth-child(1){
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
    }
    footer p:nth-child(2){
        font-size: 20px;
        color: aliceblue;
        line-height: 20px;
        width: 500px;
        letter-spacing: 1px;
        text-align: center;
    }
    .social{
        display: flex;
    }
    .social a{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background: #baba06;
        border-radius: 50%;
        margin: 22px 20px;
        color: white;
        font-size: 20px;
    }
    /* Footer */
    .icons {
        display: flex;
        justify-content: center;
        margin-top: 550px;
        font-size: 40px;
    }
    .icons .icon a {
        padding-left: 30px;
        color:#ffb703;
    
    }

    .icons .icon a:hover{
        color:#fb8500;
    }
    .icon:hover {
        transform: scale(1.3)
    }
