* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.hero {
    height: 100vh;
    width: 100%;
    background: #eae0d5;
    font-family:Arial, Helvetica, sans-serif;
}
span {
    color: #0a0908;
    padding: 20px 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8%;
    background-color: #c6ac8f;
    box-shadow: 0 0 20px #0a0908;
}

.logo {
    font-size: 39px;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 20px 0;
    background: linear-gradient(to bottom, #0a0908, #22333b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul li{
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #22333b;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color: #fb8500;
    transition: 0.4s;
}
.btn {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    color:#5e503f;
    background: linear-gradient(to bottom, #0a0908, #22333b);
    background-color: #0a0908;
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: bold;
    transition: .4s transform;
}

.btn:hover{
    color:#fb8500;
    transform: scale(100.2);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.5% ;
}

h1 {
    margin: 20px 0px 20px;
    font-size: 75px;
    background: linear-gradient(to bottom, #0a0908, #22333b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Brush Script MT;
}
p {
    color: #0a0908;
    font-size: 18px;
    margin-bottom: 50px;
}
h4 {
    color:#191919;
    letter-spacing: 2px;
    font-size: 20px;
}
.newsletter form{
    width: 380px;
    max-width: 300px;
    position: relative;
}
.newsletter form input:first-child{
    display: inline-block;
    width: 300px;
    padding: 14px 130px 14px 15px;
    border: 2px solid #000;
    outline: none;
    color:#000;
    border-radius: 30px;
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#eae0d5;
    color: #023047;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #023047;
    top: 6px;
    right: 6px;
}
.newsletter form input:last-child:hover{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color:#c6ac8f;
    color: #023047;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #023047;
    top: 6px;
    right: 6px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 550px;
    font-size: 40px;
}
.icons .icon a {
    padding-left: 30px;
    color:#ffb703;
   
}

.icons .icon a:hover{
    color:#fb8500;
}
.icon:hover {
    transform: scale(1.3)
}

img {
    background-size: cover;
}
.about {
    background-image: url(background3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
} 
.about img {
    padding-top: 80px;
    height: auto;
    width: 530px;
    border-bottom: 3px solid rgba(8, 199, 209, 0.759);
    border-top: none;
    border-left: none;
    border-right: none;
}
.about-text{
    padding-top: 150px;
    align-items: center;
    /*    position: absolute;
    left: 45%;
    top: 620px;
}*/}

.main {
    width: 1130px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: #ffb703;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color:#8ecae6;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    letter-spacing: 2px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    color: #ffb703;

}

button{
    color:#ffb703;
    letter-spacing: 1px;
    background-color:#023047;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    border-radius: 13px 30px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #023047;
    cursor: pointer;
}
.service {
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width:1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#ffb703
}

h5 {
    color:aqua;
    font-size: 23px;
    margin-bottom: 15px;

}

.pra p{
    color:#baba06;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 25px;
}
.card .button{
    color:#ffb703;
    letter-spacing: 1px;
    background-color:#023047;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    border-radius: 9px 22px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #023047;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .btn2{
    color:#ffb703;
    letter-spacing: 1px;
    background-color:#023047;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    border-radius: 9px 22px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: .4s;
}
.contact-me .btn2:hover{
    background-color: transparent;
    border: 2px solid #023047;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
footer p:nth-child(2){
    font-size: 20px;
    color: aliceblue;
    line-height: 20px;
    width: 500px;
    letter-spacing: 1px;
    text-align: center;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #baba06;
    border-radius: 50%;
    margin: 22px 20px;
    color: white;
    font-size: 20px;
}
